<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio">  
  <select id="getStudios">
    SELECT
        id,
        name,
        tel,
        address,
        road_address,
        thum_url,
        latitude,
        longitude,
        home_page,
        menu_info,
        naver_booking_url,
        business_hours,
        business_status,
        created_at,
        updated_at
    FROM
        studios
  </select>
  
  <select id="findStudioById">
    SELECT
        id,
        name,
        tel,
        address,
        road_address,
        thum_url,
        latitude,
        longitude,
        home_page,
        menu_info,
        naver_booking_url,
        business_hours,
        business_status,
        created_at,
        updated_at
    FROM
      studios 
    <where>
      id = #{id}
    </where>

</mapper>