<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">  
  <select id="findUserById">
    SELECT
      id,
      role,
      type,
      email,
      password,
      is_retry,
      name,
      age,
      gender,
      nick_name,
      phone,
      address,
      social_id,
      profile_image,
      it_plc_1,
      it_plc_2,
      it_plc_3,
      reg_date,
      mod_date
    FROM
      user 
    <where>
      id = #{id}
    </where>
  </select>

   <select id="findUserByEmail">
    SELECT
      id,
      role,
      type,
      email,
      password,
      is_retry,
      name,
      age,
      gender,
      nick_name,
      phone,
      address,
      social_id,
      profile_image,
      it_plc_1,
      it_plc_2,
      it_plc_3,
      reg_date,
      mod_date
    FROM
      user 
    <where>
      email = #{email}
    </where>
  </select>

   <select id="findUserBySocialId">
    SELECT
      id,
      role,
      type,
      email,
      password,
      is_retry,
      name,
      age,
      gender,
      nick_name,
      phone,
      address,
      social_id,
      profile_image,
      it_plc_1,
      it_plc_2,
      it_plc_3,
      reg_date,
      mod_date
    FROM
      user 
    <where>
      social_id = #{socialId}
    </where>
  </select>

  <insert id="insertUser">
    INSERT INTO user (
      role,
      type,
      email,
      password,
      name,
      age,
      gender,
      nick_name,
      phone,
      address,
      social_id,
      profile_image
    ) VALUES (
      #{role},
      #{type}, 
      #{email}, 
      #{password}, 
      #{name}, 
      #{age},
      #{gender},
      #{nickName},
      #{phone},
      #{address},
      #{socialId},
      #{profileImage}
    )
  </insert>

  <update id="updateUser">
    UPDATE user SET
      role = #{role},
      password = #{password},
      is_retry = #{isRetry},
      name = #{name},
      phone = #{phone},
      address = #{address},
      age = #{age},
      gender = #{gender},
      nick_name = #{nickName},
      type = #{type},
      email = #{email},
      social_id = #{socialId},
      profile_image = #{profileImage}
    WHERE id = #{id}
  </update>
</mapper>